body {
    padding-top: 56px; /* Adjust based on your navbar height */
}

header {
    margin-bottom: 40px;
}

.card {
    transition: transform 0.2s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

footer {
    background-color: #343a40;
    color: #ffffff;
}
